.arrowup-style:hover {
  fill: #ff6d00;
}

.showroom-box {
  width: 85vw;
  height: 40vw;
  border-style: solid;
  border-color: #2d2d2d;
  border-width: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  /* height: fit-content; */
  justify-content: center;
  /* align-items: flex-start; */
  padding-top: 30px;
  padding-bottom: 30px;
  /* margin: 0%; */
}

.letter {
  display: inline-block;
  opacity: 0;
  color: #ffff;
  background-color: #2d2d2d;
  font-size: 4vw;
  font-family: "Times New Roman", Times, serif;
  margin: 0.1vw;
}

.hamburgermenu {
  margin-left: 0.5em;
}

.hamburgermenu:hover {
  background-color: #ff6d00;
  cursor: pointer;
}

.hamburgermenu:active {
  background-color: #2d2d2d;
}

@media only screen and (max-width: 700px) {
  .letter {
    font-size: 30px;
  }

  .hamburgermenu {
    width: 35px;
    height: 35px;
    margin-left: 0.3em;
  }
}

@media only screen and (max-width: 300px) {
  .letter {
    font-size: 25px;
  }

  .hamburgermenu {
    width: 30px;
    height: 30px;
    margin-left: 1em;
  }
}

.showroom-button {
  background: transparent;
  border: none !important;
  padding-right: 30px;
}

.a-enter-vr-button {
  background-color: #2d2d2d;
  width: 6vw;
  height: 3.8vw;
}

.a-enter-vr-button:hover {
  background-color: #ff6d00;
}

.href-style {
  color: #2d2d2d;
  font-size: 2vw;
  text-decoration: none;
}

.href-style:hover {
  color: #ff6d00;
}

#navbar {
  transition: top 0.5s;
  border-bottom: 4px solid #f8f8ff;
}

#test_2 {
  margin-top: 1000px;
  font-size: 3rem;
  background-color: #f8f8ff;
  font-weight: 800;
  text-align: center;
  /* padding: 80px; */
  border: 2px solid #2d2d2d;
  margin-bottom: 500px;
}

#test_1 {
  margin-top: 500px;
  border: 2px solid #2d2d2d;
  font-size: 3rem;
  background-color: #f8f8ff;
  font-weight: 800;
  text-align: center;
  /* padding: 80px; */
}

.anchor-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.color-nav {
  background-color: #ffff;
  z-index: 2000;
}

button.a-enter-vr-button {
  z-index: 1000;
}

.error-message {
  color: red;
  font-size: 15px;
}

/* MagnifierGlass tiedoston tyyli */
.magnifier {
  /* Styles for <div> around image and magnifying glass */
}

.magnifier-image {
  /* Styles for large image */
}

.magnifying-glass {
  /* Styles for magnifying glass */
}

/* ImageUpload.js */
.previewimg {
  width: 30vw;
  height: auto;
}
