.arrow-style {
  position: fixed;
  right: 2%;
  bottom: 10px;
  border-radius: 30px;
  background-color: #fff;
  border: #d3d3d3;
  border-style: solid;
  border-width: 2px;
  border-style: groove;
  z-index: 1500;
}

.arrowup-style:hover {
  fill: #ff6d00;
}

.artist-img-style {
  float: right;
  /* border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  background-color: #ff6d00;
  /* background-color: rgb(247, 80, 80); */
}

.artist-info-style {
  margin-right: 10px;
  margin-bottom: 4vw;
  height: 100%;
  /* border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
}

.button-style {
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  /* border-style: groove; */
  border: none;
}

.emailform-style {
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Harmaata himmeyttä vasempaan reunaan*/
.right-column1-style {
  /* background-image: linear-gradient(
    to right,
    #fff,
    #fff,
    #f8f8f8,
    #f5f5f5,
    #d8d8d8
  );
  filter: contrast(110%); */

  /* background-color: #a9a9a9;
  height: 100%;
  background: linear-gradient(to right, #808080, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(170%) brightness(200%); */

  /* background-color: #f8f8f8; */
  /* background-color: #2d2d2d; */
}

.left-column1-style {
  /* background-image: linear-gradient(
    to left,
    #fff,
    #fff,
    #f8f8f8,
    #f5f5f5,
    #d8d8d8
  );
  filter: contrast(110%); */

  /* background-color: #f8f8f8; */
  /* background-color: #2d2d2d; */
}

.form-style {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  /* border-style: groove; */
}

.showroom-box {
  /* width: 85vw;
  height: 40vw; */
  height: 42vw;
  width: auto;
  border-style: solid;
  border-color: #2d2d2d;
  border-width: 4px;
  border-radius: 20px;
  border-color: #ff6d00;
  /* border-color: #0ea550;
  border-color: rgb(247, 80, 80); */

  overflow: hidden;

  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
}

.flex-container {
  display: flex;
  /* height: fit-content; */
  justify-content: center;
  /* align-items: flex-start; */
  padding-top: 30px;
  padding-bottom: 30px;
  /* margin: 0%; */
}

.letter {
  display: inline-block;
  opacity: 0;
  color: #ffff;
  background-color: #2d2d2d;
  font-size: 4vw;
  font-family: "Times New Roman", Times, serif;
  margin: 0.1vw;
}

.hamburgermenu {
  margin-left: 0.5em;
}

.hamburgermenu:hover {
  background-color: #ff6d00;
  cursor: pointer;
}

.hamburgermenu:active {
  background-color: #2d2d2d;
}

@media only screen and (max-width: 700px) {
  .letter {
    font-size: 30px;
  }

  .hamburgermenu {
    width: 35px;
    height: 35px;
    margin-left: 0.3em;
  }
}

@media only screen and (max-width: 300px) {
  .letter {
    font-size: 25px;
  }

  .hamburgermenu {
    width: 30px;
    height: 30px;
    margin-left: 1em;
  }
}

.image-style:hover {
  opacity: 0.8;
}

.showroom-button {
  background: transparent;
  border: none !important;
  padding-right: 30px;
}

.a-enter-vr-button {
  background-color: #2d2d2d;
  width: 6vw;
  height: 3.8vw;
  border-radius: 16px;
}

.a-enter-vr-button:hover {
  background-color: #ff6d00;
}

.href-style {
  color: #2d2d2d;
  font-size: 2vw;
  text-decoration: none;
}

.href-style:hover {
  color: #ff6d00;
}

#navbar {
  transition: top 0.5s;
  border-bottom: 4px solid #f8f8ff;
}

.all-titles {
  /* margin-top: 50px; */
  margin-bottom: 50px;
  /* border: 2px solid #2d2d2d; */
  font-size: 3rem;
  /* background-color: #f8f8ff; */
  color: #2d2d2d;
  /* filter: contrast(135%); */
  /* font-weight: 800; */
  /* text-align: center; */
  /* padding: 80px; */
  font-weight: 300;
}

.anchor-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.color-nav {
  background-color: #ffff;
  z-index: 2000;
}

button.a-enter-vr-button {
  z-index: 1000;
}

.error-message {
  color: red;
  font-size: 15px;
}

/* MagnifierGlass tiedoston tyyli */
.magnifier {
  /* Styles for <div> around image and magnifying glass */
}

.magnifier-image {
  /* Styles for large image */
}

.magnifying-glass {
  /* Styles for magnifying glass */
}

/* ImageUpload.js */
.previewimg {
  width: 30vw;
  height: auto;
}

.tables-info-style {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.nav-title-style {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

/* .splash1 {
  margin: 5vw;
  width: 7vw;
  height: 7vw;
  background: repeating-conic-gradient(#ff00ff 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #ff00ff 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #ff00ff 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #ff00ff 0 13%) 50% / 80% 80%,
    radial-gradient(#ff00ff 22%, #0000 0), #bebebe;
  
  background-repeat: no-repeat;
  filter: blur(5px) contrast(50);
  
  box-shadow: 0 0 0 4px #bebebe;
  border-radius: 25px;
} */

/* .splash2 {
  margin: 5vw;
  width: 7vw;
  height: 7vw;
  background: repeating-conic-gradient(#27027e 0 4%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 9%, #7f00ff 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 5%, #2b0585 0 8%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 15%, #1c0236 0 1%) 50% / 80% 80%,
    radial-gradient(#3e0974 10%, #0000 0), #bebebe;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(50);
  box-shadow: 0 0 0 3px #bebebe;
  border-radius: 25px;
} */

.background-image {
  background-image: url("./images/tausta-testi.png");
  /* background-image: url("./images/tausta-testi2.png"); */
  /* background-image: url("./images/tausta-testi3.png"); */
}

/* ----- */
/* TODO: 1.vaihtoehto */

/* .first-column-style {
  float: right;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  background-color: #ff6d00;
  background-color: #fff;
}
.first-column-style2 {
  float: left;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  background-color: #ff6d00;
  background-color: #fff;
}

.second-column-style {
  margin-right: 10px;
  margin-bottom: 4vw;
  height: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
}

.second-column-style2 {
  margin-left: 10px;
  margin-bottom: 4vw;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #ff6d00;
  background-color: #fff;
}

.image-style {
  border-radius: 20px;
  filter: brightness(110%);
  height: 30vw;
} */

/* ----- */

/* TODO: 2.vaihtoehto */
/* .first-column-style {
  float: left;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  background-color: #ff6d00;
  background-color: #fff;
}

.first-column-style2 {
  float: right;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  background-color: #ff6d00;
  background-color: #fff;
}

.second-column-style {
  float: right;
  margin-right: 10px;
  margin-bottom: 4vw;
  height: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #fff;
}
.second-column-style2 {
  float: left;
  margin-left: 10px;
  margin-bottom: 4vw;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ff6d00;
  background-color: #fff;
}

.image-style {
  border-radius: 20px;
  filter: brightness(110%);
  height: 10vw;
} */

/* ----- */

/* 3. KOHTA */
.first-column-style {
  float: left;
  /* border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-radius: 2px;
  border: none;
  /* background-color: #ff6d00; */
  background-color: #fff;
  margin: 5px;
}

.first-column-style2 {
  float: right;
  /* border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
  border-radius: 2px;
  border: none;
  background-color: #ff6d00;
  background-color: #fff;
  margin: 10px;
}

.image-style1 {
  /* border-radius: 20px; */
  border-radius: 2px;
  filter: brightness(110%);
  width: 15vw;
  height: auto;
}

.image-style2 {
  /* border-radius: 20px; */
  border-radius: 2px;
  filter: brightness(110%);
  width: 15vw;
  height: auto;
}

.image-style3 {
  /* border-radius: 20px; */
  border-radius: 2px;
  filter: brightness(110%);
  width: 15vw;
  height: auto;
}

.dropdown-list-style {
  text-align: right;
  padding-right: 5vw;
  padding-bottom: 5vw;
}

.info-style2 {
  background-color: #fff;
  margin: 10px;
  border-radius: 1px;
}

/* ----- */
